<header class="main-header" *ngIf="navbarService.getLoadDataSuccess() && authService.isLoggedIn()">
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink='/home'>
        <div class="logo-main"></div>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav single-nav" *ngIf="navbarService.getNavbar().isSearchDocument">
        <li class="nav-border-icon-single" [ngClass]="{ 'router-link-active': isSearchActiveClass }">
          <a 
            (click)="setActiveSearchClass()"
            routerLink="/search" 
            id="search-report" 
            [ngClass]="{ 'router-link-active-font-color': isSearchActiveClass }"
          >
            <i class="fa fa-search" aria-hidden="true"></i> ค้นหา/ยืนยันข้อเท็จจริง/แก้ไข
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="navbarService.getNavbar().isCreateDocument">
        <li class="dropdown">
          <a
            class="dropdown-toggle nav-border-icon" 
            data-toggle="dropdown" 
            id="view-create-document" 
            [ngClass]="{ 'active': isDocumentActiveClass }"
          >
            <i class="fa fa-plus-circle" aria-hidden="true"></i> บันทึกใหม่<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a (click)="setActiveDocumentClass()" (click)="docPath('/document101/part1')" id="create-document-101" *ngIf="navbarService.getNavbar().isCreateDocument01">ปปง. 1-01</a></li>
            <li><a (click)="setActiveDocumentClass()" (click)="docPath('/document102/part1')" id="create-document-102" *ngIf="navbarService.getNavbar().isCreateDocument02">ปปง. 1-02</a></li>
            <li><a (click)="setActiveDocumentClass()" (click)="docPath('/document103/part1')" id="create-document-103" *ngIf="navbarService.getNavbar().isCreateDocument03">ปปง. 1-03</a></li>
            <li><a (click)="setActiveDocumentClass()" (click)="docPath('/document1059/part1')" id="create-document-1059" *ngIf="navbarService.getNavbar().isCreateDocument1059">ปปง. 1-05-9</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="navbarService.getNavbar().isReports">
        <li class="dropdown" routerLinkActive #rlaReport="routerLinkActive">
          <a 
            class="dropdown-toggle nav-border-icon" 
            data-toggle="dropdown" 
            id="view-report" 
            [ngClass]="{ 'active': rlaReport.isActive }"
          >
            <i class="fa fa-file-text-o" aria-hidden="true"></i> รายงาน<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <!-- <li><a routerLink="/reports/exportapproverpt103" id="report-pt103" *ngIf="isPt103">รายงานที่มีเหตุอันควรสงสัยเพื่อขอพิจารณา</a></li> -->
            <li><a (click)="setClearActiveClass()" routerLink="/reports/optreportr01" id="report-amlr01" *ngIf="navbarService.getNavbar().isAMLR01">AMLR01 สรุปจำนวนรายงานธุรกรรม ประจำวัน</a></li>
            <li><a (click)="setClearActiveClass()" routerLink="/reports/optreportr02" id="report-amlr02" *ngIf="navbarService.getNavbar().isAMLR02">AMLR02 สรุปจำนวนรายงานธุรกรรม รายงวด</a></li>
            <li><a (click)="setClearActiveClass()" routerLink="/reports/optreportr03" id="report-amlr03" *ngIf="navbarService.getNavbar().isAMLR03">AMLR03 สรุปรายงานที่ยังไม่ได้ยืนยันข้อเท็จจริง</a></li>
            <li><a (click)="setClearActiveClass()" routerLink="/reports/optreportr04" id="report-amlr04" *ngIf="navbarService.getNavbar().isAMLR04">AMLR04 สรุปรายงานธุรกรรมที่สาขา/ฝ่ายงานบันทึกรายงานใหม่</a></li>
            <li><a (click)="setClearActiveClass()" routerLink="/reports/optreportr05" id="report-amlr05" *ngIf="navbarService.getNavbar().isAMLR05">AMLR05 สรุปจำนวนรายงานที่ถูกลบ</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="navbarService.getNavbar().isImportExport">
        <li class="dropdown" routerLinkActive #rlaImportExport="routerLinkActive">
          <a 
            class="dropdown-toggle nav-border-icon" 
            data-toggle="dropdown" 
            id="view-import-export" 
            [ngClass]="{ 'active': rlaImportExport.isActive }"
          >
            <i class="fa fa-file-text-o" aria-hidden="true"></i> Import / Export<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a (click)="setClearActiveClass()" routerLink="/export/xml" id="export-xml" *ngIf="navbarService.getNavbar().isExportXML">ข้อมูล XML เพื่อส่งไป ปปง.</a></li>
            <li><a (click)="setClearActiveClass()" routerLink="/import/history" id="import-history" *ngIf="navbarService.getNavbar().isImport">Import History</a></li>
            <li><a (click)="setClearActiveClass()" routerLink="/export/history" id="export-history" *ngIf="navbarService.getNavbar().isExport">Export History</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav single-nav" *ngIf="navbarService.getNavbar().isAuditLog">
        <li class="nav-border-icon-single" routerLinkActive="router-link-active">
          <a 
            (click)="setClearActiveClass()" 
            routerLink="/audit/auditsearch" 
            id="audit-log" 
            routerLinkActive="router-link-active-font-color"
          >
            <i class="fa fa-history" aria-hidden="true"></i> Audit Log
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="navbarService.getNavbar().isSetting">
        <li class="dropdown" routerLinkActive #rlaSetting="routerLinkActive">
          <a 
            (click)="setClearActiveClass()"
            class="dropdown-toggle nav-border-icon" 
            data-toggle="dropdown" 
            id="view-settings" 
            [ngClass]="{ 'active': rlaSetting.isActive }"
          >
            <i class="fa fa-cog" aria-hidden="true"></i> ตั้งค่า<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a routerLink="/role" *ngIf="navbarService.getNavbar().isRole">Role</a></li>
            <li><a routerLink="/user" *ngIf="navbarService.getNavbar().isUser">ผู้ใช้งาน</a></li>
            <li><a routerLink="/reference/main" *ngIf="navbarService.getNavbar().isReference">ข้อมูลอ้างอิง</a></li>
            <li><a routerLink="/schema" *ngIf="navbarService.getNavbar().isSchema">AMLO Schema</a></li>
            <li><a routerLink="/sysparam" *ngIf="navbarService.getNavbar().isSysParams">System Parameters</a></li>
            <li><a routerLink="/internalaccount" *ngIf="navbarService.getNavbar().isInternal">Internal Account</a></li>
            <li><a routerLink="/excludeaccount" *ngIf="navbarService.getNavbar().isExclude">Exclude Account</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu pull-right">
      <ul class="nav navbar-nav">
        <li class="dropdown" routerLinkActive #rlaProfile="routerLinkActive">
          <a 
            (click)="setClearActiveClass()"
            class="dropdown-toggle nav-border-icon" 
            data-toggle="dropdown" 
            [ngClass]="{ 'active': rlaProfile.isActive }"
          >
            <i class="fa fa-user-o" aria-hidden="true"></i> {{ userLoginService.getUserName() }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="default-cursor">รหัสสาขา : {{ userLoginService.getBankBranch() }}</a></li>
            <li><a class="default-cursor">รหัสแผนก : {{ userLoginService.getDepartment() }}</a></li>
            <li class="divider"></li>
            <li><a [routerLink]="['/setting-profile']" (click)="settingProfile()">Change Password</a></li>
            <li><a (click)="authService.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navbar-custom-menu text-header-profile pull-right hidden-xs">
      <h6>AMLO Reporting System</h6>
    </div>
    <!-- /.navbar-custom-menu -->

  </nav>
</header>
