/* @media screen and (max-width: 768px) {
  .navbar {
    font-size: 10px !important;
  }
  
  .main-header .text-header-profile h6 {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    font-size: 12px !important;
  }

  .main-header .text-header-profile h6 {
    font-size: 12px !important;
  }
} */

.dropdown-menu {
 font-size: 13px !important;
}

.divider {
  background-color: #554242 !important;
}

.default-cursor {
  cursor: default !important;
}

.router-link-active {
  background-color: #554242 !important;
}

.router-link-active-font-color {
  color: #fff !important;
}

.active {
  color: #fff !important;
  background-color: #554242 !important;
}
